@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

.quote {
  background-image: linear-gradient(
    0deg,
    hsl(220deg 77% 7%) 0%,
    hsl(219deg 73% 8%) 11%,
    hsl(218deg 73% 9%) 22%,
    hsl(217deg 77% 11%) 33%,
    hsl(217deg 80% 12%) 44%,
    hsl(217deg 82% 13%) 56%,
    hsl(217deg 82% 14%) 67%,
    hsl(218deg 81% 15%) 78%,
    hsl(219deg 80% 17%) 89%,
    hsl(220deg 77% 18%) 100%
  );
  color: white;
  border-radius: 2rem;
  padding: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  border: 1px solid #96b6ee;
  box-shadow: var(--shadow-elevation-medium);
}

.quote p {
  font-size: 3.4rem;
  font-weight: 400;
  color: #fff;
  font-family: 'Rochester', cursive;
  text-shadow: var(--text-shadow);
}

.quote figcaption {
  font-style: italic;
  font-size: 1.5rem;
  text-align: right;
  color: #96b6ee;
  font-weight: 400;
  text-shadow: var(--text-shadow);
}
