.item {
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 0.3rem;
  background-image: linear-gradient(
    0deg,
    hsl(219deg 76% 72%) 0%,
    hsl(220deg 76% 74%) 11%,
    hsl(220deg 77% 77%) 22%,
    hsl(220deg 77% 79%) 33%,
    hsl(219deg 77% 81%) 44%,
    hsl(219deg 77% 83%) 56%,
    hsl(219deg 77% 85%) 67%,
    hsl(219deg 78% 87%) 78%,
    hsl(219deg 78% 89%) 89%,
    hsl(219deg 77% 91%) 100%
  );
  max-width: 50rem;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 0;
  width: 70%;
}

.item blockquote {
  margin: 0;
  text-align: left;
  color: #141414;
}

.item p {
  margin: 0;
  margin-bottom: 0.25rem;
  font-weight: 400;
  font-size: 1.3rem;
}

.item figcaption {
  font-style: italic;
  color: #141414;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: right;
  margin-right: 3rem;
}
@media screen and (max-width: 650px) {
  .item {
    flex-direction: column;
    align-items: flex-end;
  }

  .item figure {
    width: 100%;
  }

  .item p {
    font-size: 1rem;
  }

  .item figcaption {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
