.item {
  margin: 1rem 0;
  border-bottom: 2px dashed #82a7ee;
}
.item p {
  color: #fff;
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
  letter-spacing: 2px;
  font-family: inherit;
  font-weight: 400;
}
